.galleryFrame {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 200px;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .actions {
    margin-top: 10px;
  }
  
  .delete-btn {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-btn:hover {
    background-color: #e60000;
  }
  